.singleEvent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgb(219, 255, 255);
    width: 70%;
    color: black;
    height: 60vh;
    border-radius: 10px;
    margin-left: 15%;

}
.buttons{
    border: none;
    display: flex;
    gap: 10px;
    
}