.landing-nav{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    box-shadow: 0 3px 0 rgb(209, 207, 207);
    /* background-color: azure; */
    background-image: linear-gradient(to right, azure, whitesmoke);
}

.landing-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 20%;
    
}
.landing-nav li{
    text-decoration: none;
    
}
.landing-nav span{
    color:rgb(32, 235, 235);
}
.landing-nav h3{
    color: black;
}