.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 228, 228);
    margin: 5% 30%;
    border-radius: 8px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin:15px;
}
form input{
    border-radius: 7px;
    padding: 5px;
    background: white;
}
form p {
    background-color: red;
    color: black;
}