.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 219, 132);
    margin: 5% 30%;
    border-radius: 8px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin:15px;
}
form input{
    border-radius: 7px;
    padding: 5px;
}
form p {
    background-color: red;
    color: black;
}