/* body{
    background-image: url(./../images/noiseporn-JNuKyKXLh8U-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    size: bold;
    font-weight: 900;
}

   */
